.subHeader {
	height: 40px;
	display: flex;
	align-items: center;
	background-color: #232e3b;
	z-index: 100;
	color: white;
}

.subHeader__optionLocation {
	display: flex;
	margin: 0 18px;
	min-width: 200px;
}

.subHeader__optionDetails {
	display: flex;
	flex-direction: column;
}

.subHeader__optionLocation {
	transition: all 0.2s ease;
}

.subHeader__optionLocation:hover {
	color: #febd68;
	cursor: pointer;
}

.subHeader__menu {
	display: flex;
	align-items: flex-end;
	width: 100%;
	min-width: 300px;
	flex-flow: row wrap-reverse;
	list-style: none;
	height: 100%;
}

.SubHeader__menuItem {
	font-weight: 800;
	font-size: 0.9rem;
	text-decoration: none;
	color: white;
	padding: 6px 10px;
	border: 1px solid transparent;
	margin: 5px auto;
}

@media only screen and (max-width: 1200px) {
	.subHeader__promotion {
		display: none;
	}
}
